header{
  text-align: right;
  img{
    display: block;
    height: 50px;
    position: absolute;
    left: 2px;
    top: 10px;
    margin-top: 0;
  }
  nav{
    display: inline-block;
    text-align: right;
    ul{
      font-weight: bold;
      margin-top: 1.5%;
      li{
        position: absolute;
        right: 5px;
        display: inline-block;
        padding: 3%;
        font-size: 2em;
        font-family: sans-serif;
        text-align: right;
        &:hover{
          color: #69c773;
        }
        &#selected{
          color: #69c773;
        }
      }
    }
  }
}